@import '@new-ui/foundations';
@import 'spacings';

@font-face {
  font-family: "Mono";
  src: url("/fonts/mono.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 16px;
  --mono: "Mono";
  --sans: "copy", var(--system-ui);
  --code: var(--mono), var(--monospace-code);
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  --primary: oklch(59.23% .2221 261.8);
  --mark: oklch(88.22% .1114 188.96);
  --mark-alt: oklch(87.44% .1203 80.29);
}

:focus-visible {
  outline: var(--s-02) solid var(--teal2);
  outline-offset: var(--s-02);
  box-shadow: none;
}

::selection {
  background: var(--mark);
  text-shadow: none;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--sans);
  line-height: 1.5;
  padding: var(--s-00) var(--s-32) var(--s-96);
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
  line-height: 15px;
  font-style: normal;
  min-height: 100vh;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

header {
  margin: var(--s-96) var(--s-64);
  max-inline-size: 22rem;
  font-size: 11px;
  line-height: 15px;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 15px;
  line-height: 17px;
}

p {
  font-size: 11px;
  line-height: 15px;
}

a {
  color:var(--primary);
  text-decoration:underline dotted;
  text-underline-offset:2px;
  text-decoration-thickness:1px
}
a:hover {
  text-decoration:none;
  background:var(--mark-alt);
  color:var(--text-primary)
}

.code {
  font-family: var(--code);
  background-color: var(--background-secondary);
  padding: 0.2em 0.4em;
  font-size: 11px;
  line-height: 15px;
}

.search-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

#search {
  flex: 1;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border);
  background-color: var(--background);
  font-family: var(--code);
  color: var(--text);
  font-size: 11px;
  line-height: 15px;
  letter-spacing: -.03em;
  outline-width: 0px;
  --i-shadow: 2px 2px 0px 0px rgba(0, 0, 0, .1) inset;
  --i-shadow-colored: inset 2px 2px 0px 0px var(--i-shadow-color);
  --i-ring-offset-shadow: 0 0 #000;
  box-shadow: var(--i-ring-offset-shadow, 0 0 #0000),var(--i-ring-shadow, 0 0 #0000),var(--i-shadow);
}

#count {
  white-space: nowrap;
  opacity: 0.7;
  font-family: var(--code);
}

.icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 0.25rem;
}

.icon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  background: var(--background);
}

.icon-card:hover {
  background: var(--background-secondary);
}

.icon-svg {
  width: 48px;
  height: 48px;
  transform: scale(2);
  transform-origin: top left;
}

.icon-name {
  font-size: 11px;
  line-height: 15px;
  font-family: var(--code);
  color: var(--text-secondary-alt);
  text-align: center;
  word-break: break-all;
  text-transform: uppercase;
}

.git-star{
  position: absolute;
  top: 24px;
  right: 24px;
  transform: scale(.8);
  transform-origin: top left;
}

.details {
  margin: 3rem auto;
  font: normal 1.4rem/2rem var(--serif);
  display: flex;
}

li {
  list-style-type: "∘";
  padding-inline-start: 1ch;
}

[color-scheme="dark"] {
  .icon-svg {
    filter: invert(1) sepia(100%) hue-rotate(180deg);
  }
}